.overlay {
    /* background-color: rgba(0, 0, 0, .4); */
    background-color: rgba(21, 48, 88, .5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dialogo {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    background: #153058;
    color: white;
    border-radius: 20px;
    top: 50vh;
    left: 0;
    right: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    border: 2px solid #2373d2;
}

h1{
    color: #2373d2;
}

.dialogo i {
    text-align: end;
    font-size: 1.5em;
    cursor: pointer;
}

.input__text{
    display: flex;
    flex-direction: column;
}

.formulario{
    display: grid;
    grid-template-areas: 'titulo' 
                         'categoria'
                         'imagen' 
                         'video'
                         'descripcion'
                         'btns';

    gap: .5em;
    margin-top: 1em;
}

#input__titulo{ grid-area: titulo;}
#input__categoria{ grid-area: categoria;}
#input__imagen{ grid-area: imagen;}
#input__video{ grid-area: video;}
#input__descripcion{ grid-area: descripcion;}
#input__btns{ 
    grid-area: btns;
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: max-content;
    margin-top: 1em;
}

#input__btns input{
    padding: .5em 2em;
    border-radius: 8px;
}

input[type=text], select{
    padding: .5em;
    border-radius: 8px;
    background: #153058;
    border: 2px solid #2373d2;
}

label{
    margin-bottom: .5em;
}

textarea{
    border-radius: 8px;
    padding: .5em;
    background: #153058;
    border:2px solid #2373d2;
}

#btnGuardar{
    background: #0c0f12;
    color: #2373d2;
    border: 2px solid #2373d2;
    color:white;
}

#btnLimpiar{
    background: transparent;
    border: 2px solid white;
    color: white;
}