.contenedorCards{
    display: flex;
    flex-direction: column;
    background: #070808;
    /* flex-wrap: wrap; */
}

.contenedorSinDatos{
    background: #070808;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
