.container{
    width: max-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.images{
    width: 450px;
    height: 281px;
}

.images img{
    width: 100%;
}

.btns{
    background: gray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn{
    color: white;
    cursor: pointer;
}

.btn i{
    margin-right: .7em;
}