.tittle{
    background: #6BD1FF; 
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    margin-bottom: 1em;
}

#image{
    height: 90vh;
    max-width: 100%;
    position: relative;
    background-image: url('./fondo.png');
}

#container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(6, 56, 222, 0.3);

    display: flex;
    justify-content: space-between;
    gap: 2em;
    align-items: center;
    padding: 0 2em;
}

.text{
    color:white;
    width: 45%;
}

.subtittle{
    margin-bottom: 1em;
}

.description{
    color: rgb(255, 255, 255, .6);
}