.nav{
    /* background: #444444; */
    background: #0c0f12;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    border-bottom: 2px solid #2373d2;
}

.tittle{
    color:#2373d2;
    font-weight: 900;
    font-size: 1.5em;
}

.lista{
    display: flex;
    gap: 15px;
}

.item{
    padding: .5em 1.5em;
    border-radius: 10px;
}

.lista li:nth-child(1){
    border:2px solid #2373d2;
    background: #0c0f12;
}
.lista li:nth-child(2){
    border:2px solid white;
    background: transparent;
}

#home{
    color:blue;
    font-weight: 900;
}
#nuevo{
    color: white;
}

@media (max-width: 428px){
    .tittle{
        display: none;
    }
    .nav{
        justify-content: center;
    }
}

@media (max-width: 320px){
    #home, #nuevo{
        font-size: .8em;
    }
}