.cards{
    width: 100%;
    padding: 4em 2em;
    /* background: red; */
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:2em;
    margin-top: 2em;
    border:2px solid black;
}

.titulo{
    display: inline-block;
    padding: 1em 10em;
    border-radius: 10px;
    color: white;
}